* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    padding: 10px;
}
label, input {
    display: block;
}
label
{
    padding-bottom: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 500px;
    background-color: rgb(219, 219, 219);
    border-radius: 15px;
    border: 1px solid rgb(99, 99, 99);
}
.header-container {
    display: flex;
    flex-direction: column;
}
.ai-difficulty-container {
    display: flex;
    width: auto;
    height: 50px;
    background-color: rgb(114, 114, 226,.25);
    padding: 5px 15px 0 15px;
    border-radius: 15px 15px 0px 0px;
}
.player-symbol-container {
    display: flex;
    width: auto;
    height: 75px;
    background-color: rgb(226, 159, 159,.25);
    justify-content: center;

}
.gameboard-container {
    display: flex;
    height: 275px;
    background-color: rgb(177, 241, 177,.25);
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.symbol-button {
    padding: 4px 75px 4px 75px;
    margin: 10px 5px 10px 5px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.restart-button {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgba(211, 211, 95, 0.25);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}
.tic-tac-toe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    height: 100%;
    width: 300px;
}
.grid-square {
    border: 2px solid black;   
}
button:hover {
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .container {
        width: 100%;
    }
    .symbol-button {
        margin: 10px 1px 10px 1px;
    }
}